{% extends "ScientificMaterials/material_layout.html" %}
{%load static%}
{%block styles%}
    <link rel="stylesheet" href="{%static 'ScientificMaterials/css/material.css'%}">
{%endblock%}


{%block content%}
        <div class="flex_logo">
            <h1><span class="badge bg-primary m-5">{{title}}</span></h1>
        </div>
        <div class="alert alert-success" role="alert">
          Ключові слова: {{key_words}}
        </div>
        <div id="editorjs" class="shadow-lg p-3 mb-5 bg-body rounded mt-3"></div>




{%endblock%}


{%block scripts%}
    <script src="{%static 'designer/js/editor.js' %}"></script>
    <script src="{%static 'designer/js/marker.js' %}"></script>
    <script src="{%static 'designer/js/header.js' %}"></script>
    <script src="{%static 'designer/js/list.js' %}"></script>
    <script src="{%static 'designer/js/check_list.js' %}"></script>
    <script src="{%static 'designer/js/quote.js' %}"></script>
    <script src="{%static 'designer/js/underline.js' %}"></script>
    <script src="{%static 'designer/js/code.js' %}"></script>
    <script src="{%static 'designer/js/footnotes.js' %}"></script>
    <script src="{%static 'designer/js/warning.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" ></script>
    <script>
        const editor = new EditorJS({
        placeholder: 'Створіть свій матеріал тут!',
        readOnly:true,
        holder:'editorjs',
        autofocus: false,
        i18n: {
            messages: {
                ui: {
                    "blockTunes": {
                          "toggler": {
                            "Click to tune": "Нажмите, чтобы настроить",
                            "or drag to move": "или перетащите",

                          },
                    },
                    "inlineToolbar": {
                      "converter": {
                        "Convert to": "Конвертировать в"
                      }
                    },
                    "toolbar": {
                      "toolbox": {
                        "Add": "Добавить"
                      }
                    },



                },
                toolNames: {
                    "Text": "Параграф",
                    "Heading": "Заголовок",
                    "List": "Список",
                    "Warning": "Примітка",
                    "Checklist": "Чеклист",
                    "Quote": "Цитата",
                    "Code": "Код",
                    "Marker":"Маркер",
                    "Link": "Посилання",
                    "Marker": "Маркер",
                    "Bold": "Напівжирний",
                    "Italic": "Курсив",
                    "Underline":"Підкреслений",

                },
                tools: {
                    // Section for passing translations to the external tools classes
                    // The first-level keys of this object should be equal of keys ot the 'tools' property of EditorConfig
                },
                blockTunes: {
                    "delete": {
                        "Delete": "Удалить"
                    },
                    "moveUp": {
                      "Move up": "Переместить вверх"
                    },
                    "footnotes": {
                      "Footnote": "Виноска",

                    },
                    "moveDown": {
                      "Move down": "Переместить вниз"
                    }
                },
            }
        },
        data: {% autoescape off %} {{material_data}},{% endautoescape %}

        tools: {
          quote: {
            class:Quote,
            shortcut: 'CMD+SHIFT+Q'
          },
          underline: Underline,
          header: {
            class: Header,
            inlineToolbar: ['link'],
            shortcut: 'CMD+SHIFT+H'

          },
          list: {
            class: List,
            inlineToolbar: true ,
            tunes: ['footnotes'],
            shortcut: 'CMD+SHIFT+L'
          },
          checklist: {
            class: Checklist,
            inlineToolbar: true,
            shortcut: 'CMD+SHIFT+K'
          },
          paragraph: {
            tunes: ['footnotes'],
            shortcut: 'CMD+SHIFT+P'
          },
          code: {
            class:CodeTool,
            shortcut: 'CMD+SHIFT+C'
          },
          warning: {
            class: Warning,
            inlineToolbar: true,
            shortcut: 'CMD+SHIFT+W',

            config: {
              titlePlaceholder: 'Заголовок',
              messagePlaceholder: 'Повідомлення',
            },
          },
          Marker: {
            class: Marker,
            shortcut: 'CMD+SHIFT+M',
          },
          footnotes: {
            class: FootnotesTune,
          },
        },
      });


    </script>
{%endblock%}

