{% extends "tests/test_layout.html" %}
{%load static%}
{%block styles%}
    <link rel="stylesheet" href="{% static 'tests/css/error_test.css' %}">
{%endblock%}


{%block content%}
  <div class="error_block">
    <h1><span class="badge bg-danger error-logo-info">Помилка проходження!</span></h1>
    <p>
      <a class="btn btn-success to-index-from-error"  href="{% url 'detail_course' course %}" ><!-- detail_course | course_slug-->

        До курсу
      </a>

      <a class="btn btn-primary about-error" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        Докладніше
      </a>
    </p>
    <div class="collapse" id="collapseExample">
      <div class="card card-body">
        <p class="error_type">{{type_of_error}}</p>
        <p class="res_info ">Ваші попередні результати</p>
        <table class="table_with_statistic">
            <tr class="row_table_header ">
                <th width="35%">Тест</th>
                <th width="35%">Курс</th>

                <th width="15%">Результат(в балах)</th>
                <th width="15%">Відсоток правильності</th>
            </tr>
                <tbody class="table_body">

                        <tr>
                            <td>{{results_qrst.test.name_test}}</td>
                            <td>{{results_qrst.course}}</td>

                            <td>{{results_qrst.user_point}} / {{results_qrst.test.max_test_result}}</td>
                            <td>{{percent_success}}</td>
                        </tr>



                </tbody>


        </table>

      </div>
    </div>


  </div>

{%endblock%}
{%block scripts%}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" ></script>
{%endblock%}

