{% extends "staticPages/profile/profile-layout.html" %}
{%load static%}


{%block about_user%}

    <h4 class="card-title">{{user.first_name}} {{user.last_name}}</h4>
    <p class="text-muted">Курси:
        {%for course in courses%}
            {{course}}
        {%endfor%}
    </p>
    <hr>

    <p class="text-muted">Викладачі: </p>
    {% for course, teachers in teachers_on_course %}
            <p class="text-muted teacher-margin">{{course}} -
                {%for teacher in teachers %}
                    {{teacher}}
                {%endfor%}

            </p>
    {%endfor%}

    <p class="text-muted">Предмети: </p>
    {%for course, subject in subjects%}
        <p class="text-muted teacher-margin">{{course}} - {{subject}} </p>
    {%endfor%}






{%endblock%}

{%block information_in_profile%}
    <div class="user-course-statistic">
        <h1> <span class="badge bg-primary title__statistic">Статистика курсів</span></h1>
        <table class="table table-striped mt-5 mb-5">
            <thead>
                <tr>
                    <th scope="col">Курс</th>
                    <th scope="col">К-сть студентів</th>
                    <th scope="col">Мій рейтинг</th>
                    <th scope="col">Середній бал курсу</th>
                    <th scope="col">Мій середній бал</th>
                </tr>
            </thead>
            <tbody>
                {% for course1 in courses%}
                    <tr>
                        <td>{{course1.name}}</td>
                        <td>
                            {%for c,s in num_students%}
                                {%if course1 == c %}
                                    {{s}}
                                {%endif%}
                            {%endfor%}
                        </td>
                         <td>
                             {%for c,r in rating%}
                                {%if course1 == c %}
                                    {{r}}
                                {%endif%}
                            {%endfor%}
                         </td>
                        <td>
                            {%for c,ca in course_average%}
                                {%if course1 == c %}
                                    {{ca}}
                                {%endif%}
                            {%endfor%}
                        </td>
                        <td>
                            {%for c,a in average%}
                                {%if course1 == c %}
                                    {{a}}
                                {%endif%}
                            {%endfor%}

                        </td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>

    </div>
    <div class="user-test-statistic">
        <h1> <span class="badge bg-primary title__statistic ">Мої результати</span></h1>
        <table class="table table-striped mt-5 mb-5">
            <thead>
                <tr>
                    <th scope="col">Тест</th>
                    <th scope="col">Курс</th>
                    <th scope="col">Число пройдених перевірок</th>
                    <th scope="col">Число перевірок</th>
                    <th scope="col">Результат(бали)</th>
                </tr>
            </thead>
            <tbody>
                {%for c,r in my_res %}
                    {%for tmp_r in r%}
                        <tr>
                            <td>{{tmp_r.test.name_test}}</td>
                            <td>{{c.name}}</td>
                            <td>
                                {%for course_tmp , test_with_num_complete in cases_complete_num%}
                                    {%if course_tmp == c%}
                                        {%for test, num_complete in test_with_num_complete.items %}
                                            {%if test == tmp_r.test %}
                                                {{num_complete}}
                                             {%endif%}
                                        {%endfor%}
                                    {%endif%}
                                {%endfor%}

                            </td>
                            <td>
                                {%for case_test, num in cases_total_num%}
                                    {%if case_test == tmp_r.test%}
                                        {{num}}
                                    {%endif%}
                                {%endfor%}
                            </td>
                            <td>{{tmp_r.user_point}} / {{tmp_r.test.max_test_result}}</td>
                        </tr>
                    {%endfor%}
                {%endfor%}

            </tbody>
        </table>



    </div>

{%endblock%}


