{% extends "designer/designer_layout.html" %}
{% load static %}

{%block styles%}
    <link rel="stylesheet" href="{%static 'designer/css/course_designer.css'%}">
{%endblock%}


{%block content%}
<h1><span class="badge bg-primary mt-5 mb-2 logo">Конструктор курсу</span></h1>

<div class="form_container mt-5">
    {% if status  %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
              <strong>Ура!</strong> Курс "{{new_course_name}}" успішно створено!
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Закрыть"></button>
            </div>
    {% endif %}

    <form action="/create/course/" method="post">
        {% csrf_token %}
        <div class="form_label mb-5"><span class="name_label">{{form.name.label}}</span>: <span class="input">{{form.name}}</span></div>
        <div class="form_label error form_errors st_error mb-5">{{form.name.errors}}</div>
        <div class="form_label mb-5"><span class="name_label">{{form.subject.label}}</span>: <span class="input">{{form.subject}}</span></div>
        <div class="form_label mb-5"><span class="name_label">{{form.teacher_email.label}}</span>: <span class="input">{{form.teacher_email}}</span></div>
        <div class="form_label error mb-5">{{form.teacher_email.errors}}</div>

        <button class=" btn btn-primary button_sand mt-5 mb-3 login-button" type="submit">Створити</button>
    </form>

</div>

{%endblock%}

{%block script%}<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
 {%endblock%}


