
    {% if exist %}
        {% if not isDict %}
            <div>
                <div class="input-group m-3 input-group-lg" style="width:50vw;">
                    <label class="input-group-text">Тип елементів</label>
                    <select class="form-select" required="" onchange="checkFloatTypeInItems(this,{{arg_num}})" name="{{item_name}}{{arg_num}}">
                        {% for type in types %}
                            {% if this_item == type %}
                                <option value="{{type}}" selected>{{type}}</option>
                            {% else %}
                                <option value="{{type}}" >{{type}}</option>
                            {% endif %}
                        {%endfor%}
                    </select>
                </div>
            </div>
        {% else %}
        <div>
            <div class="flex_row">
                <div class="input-group  input-group-lg m-3" style="width:25vw;">
                    <label class="input-group-text">Ключ</label>
                    <select class="form-select" required="" onchange="checkFloatTypeInItems(this,{{arg_num}})" id="dict" name="{{dict_item}}_{{arg_num}}">
                        {% for type in types %}
                            {% if this_key == type %}
                                <option value="{{type}}" selected>{{type}}</option>
                            {% else %}
                                <option value="{{type}}" >{{type}}</option>
                            {% endif %}
                        {%endfor%}
                    </select>
                </div>
                <div class="dictValue mb-3 ">:</div>
                <div class="input-group m-3 input-group-lg" style="width:25vw;">
                    <label class="input-group-text">Значення</label>
                    <select class="form-select" required="" onchange="checkFloatTypeInItems(this,{{arg_num}})" id="dict" name="{{dict_val}}_{{arg_num}}">
                        {% for type in types %}
                            {% if this_val == type %}
                                <option value="{{type}}" selected>{{type}}</option>
                            {% else %}
                                <option value="{{type}}" >{{type}}</option>
                            {% endif %}
                        {%endfor%}
                    </select>
                </div>
            </div>
        </div>
        {%endif%}
    {% else %}

    {% endif %}
